.animals {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    align-items: center;
    background-color: rgb(240, 240, 240);
    // gap: 20px;
    justify-content: center;
    
        h3 {
            text-align: center;
            margin: 0;
        }

        .imageContainer {
            display: flex;
            justify-content: center;
            width: 200px;
            height: 125px;
            margin-top: 10px;

            img {
                max-height: 125px;
            }
        }

        .imageContainer:hover {
            cursor: pointer;
        }

        .descriptionContainer {
            height: 100px;
            text-align: center;
    
            p {
                
            }
        }

        button {
            margin: 5px;
            background-color: white;

            a {
                text-decoration: none;
                color: black;
            }
        }

        button:hover {
            cursor: pointer;

            a {
                color: gray;
            }
        }

        .notisContainer{
            height: 20px;

            .notis {
                height: 20px;
                background-color: yellow;            }
        }
    
}
