.animals {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 340px;
    align-items: center;
    background-color: rgb(240, 240, 240);
    // gap: 20px;
    justify-content: center;
    
        h3 {
            text-align: center;
            margin: 0;
        }

        .imageContainer {
            display: flex;
            justify-content: center;
            width: 200px;
            height: 110px;
            margin-top: 10px;

            img {
                max-height: 110px;
            }
        }

        // .imageContainer:hover {
        //     cursor: pointer;
        // }

        .descriptionContainer {
            height: 100px;
            text-align: center;
            width: 80%;
            display: flex;
            align-items: center;
    
            p {
                
            }
        }

        button {
            margin: 5px;
            background-color: white;
            height: 30px;
            width: 100px;
            border-radius: 5%;

            a {
                text-decoration: none;
                color: black;
            }
        }

        button:hover {
            cursor: pointer;

            a {
                color: gray;
            }
        }

        .notisContainer{
            height: 30px;

            .notis {
                color: red;
                display: flex;
                align-items: center;    
                justify-content: center;   
            }
        }
    
}
